*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  background-color: floralwhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

#header-img {
  width: 25%;
}

#nav-bar a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 200;
}

main {
  margin-top: 80px;
}

h1 {
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

#submit {
  background-color: orange;
  border: none;
  border-radius: 10px;
}

#form input {
  height: 40px;
  padding: 10px 12px;
}

#features {
  width: 100%;
  margin: 40px auto;
  padding: 20px;
  display: grid;
grid-template-columns: auto auto;
gap: 20px;
}

#pricing {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  padding: 40px;
  gap: 10px;
}

.product-pricing {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 60px;
}

#how-it-works {
  margin: 10px auto;
  padding: 10px;
  place-items: center;
}

.product-pricing h2 {
  background-color: lightgrey;
  width: 100%;
}

.product-pricing p {
  line-height: 2rem;
}

.product-pricing input {
  bottom: 0;
  background-color: orange;
}

@media screen and (min-width: 1400px) {
  body {
    background-color: azure;
  }
}